<%- include('../partials/header') %>

<h1>Coding Skills</h1>
<a class="btn btn-primary btn-sm" href="/skills/new">Add Skill</a>
    <ul class="list-group list-group-flush">
        <% skills.forEach(function(s) { %>
            <li class="list-group-item">
                <a class="btn btn-outline-secondary btn-sm" href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
            </li>
        <% }); %>
    </ul>

<%- include('../partials/footer') %>